jQuery(document).ready(function ($) {

    var addMessage = function (message) {
        $('#messages').append("<p class='message'>" + message + "</p>");
    };

    $('.btn').on('click', function (event) {
        event.preventDefault();
        var messageParams = {
                body: $('#body').val()
        };

        $.ajax({
            type: 'POST',
            url: '/messages.json',
            data: messageParams,
            success: function (newMessage) {
                addMessage(newMessage.body);
            },
            error: function (xhr) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }
        })
    });
});
