jQuery(document).ready(function ($) {

    var addMessage = function (message, screenName) {
        $('#messages').append("<li class='message'>" + screenName + ": " + message + "</li>");
    };

    $('.btn').on('click', function (event) {
        event.preventDefault();
        var $formBody = $('#message');
        var messageParams = {
                body: $formBody.val(),
                room_id: $formBody.data().roomId,
                user_id: $formBody.data().userId
        };

        $.ajax({
            type: 'POST',
            url: '/messages.json',
            data: messageParams,
            success: function (newMessage) {
                var body = newMessage.body;
                var screenName = newMessage.screen_name;
                addMessage(body, screenName);
            },
            error: function (xhr) {
                console.log(xhr.status);
                console.log(xhr.responseText);
            }
        })
    });
});
